<!DOCTYPE html>
<html lang="ko">
<head>
    <title>구매하기</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
</head>
<body>
<section>


    <button id="payment-button">결제하기</button>
</section>
<script defer src="https://js.tosspayments.com/v1"></script>
<script>
    window.onload = function () {
        var tossPayments = TossPayments("[[${tosspayments_key}]]"); // 올바른 client-key가 있는지 확인

        var button = document.getElementById("payment-button");

        button.addEventListener("click", function () {
            var method = "카드";
            var paymentData = {
                amount: parseInt('[[${totalPrice}]]'),
                orderId: '[[${orderName}]]',
                orderName: '[[${orderName}]]',
                customerName: '[[${name}]]',
                successUrl: window.location.origin + "/api/success",
                failUrl: window.location.origin + "/fail",
            };

            console.log("결제 요청 데이터:", paymentData); // ✅ 요청 데이터 확인

            tossPayments.requestPayment(method, paymentData)
                .catch(function(error) {
                    console.error("결제 요청 중 오류 발생:", error);
                });
        });
    };
</script>

</body>
</html>